@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.visible {
  margin: 5px 1px;
  padding: 4px 2px;
}

.rounded-right-side {
  border-bottom-right-radius: 0.55rem !important;
  border-top-right-radius: 0.55rem !important;
}

.rounded-left-side {
  border-bottom-left-radius: 0.55rem !important;
  border-top-left-radius: 0.55rem !important;
}

#errorMsg:after {
  content: "\e000";
  font-family: "Material Icons";
  display: block;
  position: absolute;
  color: #44476a;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -22px;
  visibility: hidden;

  
}
/* input:invalid[focused="true"] ~ span#errorMsg::after {
  visibility: visible;
} */

input:invalid[focused="true"] ~ span#errorMsg::after {
  visibility: visible;

  /* animation: wobble 1s ease; */
}
input:focus ~ span#errorMsg::after {
  visibility: hidden !important;
}

span#showPass {
  display: block;
  position: absolute;
  color: #44476a;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  visibility: visible;
  right: 3px;
  z-index: 999 !important;
}
input:focus[focused="true"] ~ span#showPass {
  display: inline;
  z-index: 999 !important;

  
}
span#showPass:hover {
  cursor: pointer;
}

img#logo {
  height: 50px;
  width: 50px;
  
}

#setCart{
  width: 200%;
}

.carousel-indicators .active { 
  background-color: #44476a !important; 
  height: 4px !important; 
  width: 50px !important;
  opacity: 0.8;
}
.carousel-indicators button { 
  border: transparent;
  border-radius: 5%;
  background-color: #e6e7ee !important; 
  opacity: 0.5;
  margin: 2px;
  height: 3px !important; 
  width: 10px !important;
  transition: width 0.5s;
  opacity: 0.8;
}

.carousel-caption h3{
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 25px;
  color: #44476a;
  cursor:default;
  visibility: hidden;
}

.carousel-caption p{
  /* font-size: 45px;
  text-transform: uppercase; */
  letter-spacing: 5px;
  margin-top: 25px;
  color: #44476a;
  font-weight: 900;
  cursor:default;
  visibility: hidden;
}
/* .carousel-item img:hover{
  opacity: 0.2;
} */
.card:hover img#imgSlide {
  opacity: 0.2;
}
.card:hover p, .card:hover h3 {
  visibility: visible;
}
.carousel-control-next:hover {
  border:20px !important;
  border-radius: 50%;
}

#tabs-text div {
  width:calc(100%/3);
  font-size: 15px;
}

#tab-tab-user-list,#tab-tab-product-list,#tab-tab-order-list {
  color: #44476a;
  background-color: #e6e7ee;
  /* border-color: #e6e7ee;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
  font-size: 2vw;
  line-height: 1.5;
  border-radius: 0.55rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#tab-tab-user-list:hover,#tab-tab-product-list:hover,#tab-tab-order-list:hover {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

#tab-tab-user-list:focus, #tab-tab-user-list.focus,#tab-tab-user-list.active, #tab-tab-product-list:focus, #tab-tab-product-list.focus,#tab-tab-product-list.active, #tab-tab-order-list:focus, #tab-tab-order-list.focus,#tab-tab-order-list.active {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px 0px 7px #FFFFFF !important;
  border-bottom: none ;
}

#tab-tabpane-user-list, #tab-tabpane-product-list, #tab-tabpane-order-list {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
  border-radius: 0.55rem;
  /* border-color: 10px solid #44476a !important; */
}

#tab-tab-general-merchandise,#tab-tab-eatry,#tab-tab-rice-mill {
  color: #44476a;
  background-color: #e6e7ee;
  /* border-color: #e6e7ee;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
  font-size: 2vw;
  line-height: 1.5;
  border-radius: 0.55rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#tab-tab-general-merchandise:hover,#tab-tab-eatry:hover,#tab-tab-rice-mill:hover {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

#tab-tab-general-merchandise:focus, #tab-tab-general-merchandise.focus,#tab-tab-general-merchandise.active, #tab-tab-eatry:focus, #tab-tab-eatry.focus,#tab-tab-eatry.active, #tab-tab-rice-mill:focus, #tab-tab-rice-mill.focus,#tab-tab-rice-mill.active {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px 0px 7px #FFFFFF !important;
  border-bottom: none ;
}

#tab-tab-pending-list,#tab-tab-purchased-list {
  color: #44476a;
  background-color: #e6e7ee;
  /* border-color: #e6e7ee;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
  font-size: 2vw;
  line-height: 1.5;
  border-radius: 0.55rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#tab-tab-pending-list:hover,#tab-tab-purchased-list :hover {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

#tab-tab-pending-list:focus, #tab-tab-pending-list.focus,#tab-tab-pending-list.active, #tab-tab-purchased-list:focus, #tab-tab-purchased-list.focus,#tab-tab-purchased-list.active {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px 0px 7px #FFFFFF !important;
  border-bottom: none ;
}

.nav-tabs {
  border: none;
}
#tab-tabpane-general-merchandise, #tab-tabpane-eatry, #tab-tabpane-rice-mill {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
  border-radius: 0.55rem;
  /* border-color: 10px solid #44476a !important; */
}

.carousel-control-next svg:hover, .carousel-control-prev svg:hover{
  border-radius: 50%;
  padding: 10px;
  background-color: #e6e7ee;
}

.adminStyle h1{
  color: #92939e;
  letter-spacing: 10px;
  text-shadow: 7px 7px 20px rgba(0,0,0,0.2), -7px -7px 20px rgba(241,241,241,1),-4px -4px 5px rgba(241,241,241,1),0px 0px 20px rgba(241,241,241,1),0px 0px 30px rgba(241,241,241,1),4px 4px 5px rgba(0,0,0,0.3),0px 0px 10px rgba(0,0,0,0.3);
}

.neumorph h1{
  color: #e6e7ee;
  letter-spacing: 15px;
  text-shadow: 7px 7px 20px rgba(0,0,0,0.2), -7px -7px 20px rgba(241,241,241,1),-4px -4px 5px rgba(241,241,241,1),0px 0px 20px rgba(241,241,241,1),0px 0px 30px rgba(241,241,241,1),4px 4px 5px rgba(0,0,0,0.3),0px 0px 10px rgba(0,0,0,0.3);
  font-size: 10em;
}
.neumorph h3{
  color: #e6e7ee;
  letter-spacing: 15px;
  text-shadow: 7px 7px 20px rgba(0,0,0,0.2), -7px -7px 20px rgba(241,241,241,1), -4px -4px 5px rgba(241,241,241,1), 
  0px 0px 20px rgba(241,241,241,1), 0px 0px 30px rgba(241,241,241,1), 4px 4px 5px rgba(0,0,0,0.3), 0px 0px 10px rgba(0,0,0,1);
  font-size: 1em;
}
.swal2-popup {
  color:#44476a !important;
  background-color: #e6e7ee !important;
}
.swal2-actions button{
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  font-size: 1rem;
  border-color: #D1D9E6;
  background-color: #e6e7ee !important;
  color:#44476a !important;
  border-color: #44476a !important;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.swal2-actions button:hover {
    color: #44476a !important;
    background-color: #e6e7ee !important;
    border-color: #e6e7ee !important;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
  
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.swal2-loader {
  border-color: #44476a transparent #44476a transparent !important;
}

#customFile {
  position:absolute;
  height: 95%;
  visibility: visible;
  z-index: 10;
}

.profile-file-input {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 1.2rem + 0.0625rem);
  margin: 0;
  opacity: 0;
}

.custom-file-label-2 {
  top:20%;
  width: 100%;
  position: absolute;
  font-size: 10rem;
  z-index: 5;
  visibility: hidden;
}

#imgContainer {
  width: 600px;
}

#imgContainer:hover .custom-file-label-2{
  visibility: visible;
}

#imgContainer:hover #profilePicture{
  
  color: #b8b9be;
  opacity: 0.6;
}

#products{
  height: auto ;
}


@media (max-width: 767.89px) {
  
  .carousel-caption {
    padding-bottom: 5px !important;
  }
  .carousel-caption h3{
    font-size: 3.5vw;
  }
  .carousel-caption p{
    font-size: 2vw;
  }
  .carousel-indicators .active { 
    height: 2px !important; 
    width: 25px !important;
  }
  .carousel-indicators button { 
    height: 1.5px !important; 
    width: 8px !important;
    transition: width 2s;
  }
  .carousel-control-next {
    width: 5%;
  }
  .carousel-control-prev {
    width: 5%;
  }
  #tab-tab-general-merchandise,#tab-tab-eatry,#tab-tab-rice-mill {
    font-size: 2.5vw;
    /* text-transform: uppercase; */
  }
  .carousel-control-next svg:hover, .carousel-control-prev svg:hover{
    border-radius: 0%;
    padding: 0px;
    background-color: transparent;
  }

}

.dropdown-item.active, .dropdown-item:active {
  background-color: #d9dce3 !important;
}

body.swal2-shown > [aria-hidden="true"] {
  filter: blur(4px);
}

#admin{
  margin: 0px !important;
}

.swal2-input {
  height: 2.625em;
  padding: 0 0.75em;
  color: #44476A !important;
  background-color: #e6e7ee !important;
  background-clip: padding-box !important;
  border: 0.0625rem solid #D1D9E6 !important;
  border-radius: 0.55rem !important;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
  transition: all 0.3s ease-in-out !important;
}

.swal2-popup {
  background: #e6e7ee !important;
}

.swal2-html-container {
  overflow: hidden !important;
  margin:2px !important;
}

.custom-file-upload {
  position:relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 1.2rem + 0.0625rem);
  margin-bottom: 0;
  text-align: center;
}

.custom-file-input-upload {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 1.2rem + 0.0625rem);
  margin: 0;
  opacity: 0;
}

.swal2-validation-message::before {
  background-color: #44476A !important;
  color: #e6e7ee !important;
}

.swal2-validation-message {
  background-color: #e6e7ee !important;
  color: #44476A !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #dcdde4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c6f91;
  border-radius: 100px;
}

#quantityValue {
  width: 8rem !important;
}

#quantityValue label{
  padding-right: 0.7rem !important;
  user-select: none;
}

.organic-mod-radius {
  border-radius: 18% 37% 20% 65%/50% 45%10% 24%;
}

#results li:hover{
  background-color: #d9dce3;
}

.my-swal {
  background: rgba(255, 255, 255, 0.0) !important;
}
/* 
.my-swal-loader {
  border-color: #e6e7ee transparent #e6e7ee transparent !important;
} */


.my-swal-loader {
  border-color: #e6e7ee transparent #e6e7ee transparent !important;
}